@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebBQA.Models.TKichThuoc

@{
    ViewData["Title"] = "ThemKichThuoc";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Thêm kích thước</h1>



<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ThemKichThuoc">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaKichThuoc" class="control-label">Mã kích thước</label>
                <input asp-for="MaKichThuoc" class="form-control" />
                <span asp-validation-for="MaKichThuoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KichThuoc" class="control-label">Tên kích thước</label>
                <input asp-for="KichThuoc" class="form-control" />
                <span asp-validation-for="KichThuoc" class="text-danger"></span>
            </div>




            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="QuanLyKichThuoc" class="btn btn-danger">Trở về</a>
</div>

