@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebBQA.Models.LoaiSp
@{
    ViewData["Title"] = "ThemLoaiSp";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Thêm loại sản phẩm</h1>



<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ThemLoaiSp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaLoai" class="control-label">Mã loại</label>
                <input asp-for="MaLoai" class="form-control" />
                <span asp-validation-for="MaLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loai" class="control-label">Tên loại</label>
                <input asp-for="Loai" class="form-control" />
                <span asp-validation-for="Loai" class="text-danger"></span>
            </div>




            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="QuanLyLoaiSp" class="btn btn-danger">Trở về</a>
</div>

